[submodule "lldb/LLDB"]
	path = lldb/LLDB
	url = https://github.com/DerekSelander/LLDB.git
	branch = master
[submodule "tmux/dot-tmux/plugins/tmux-copycat"]
	path = tmux/dot-tmux/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat.git
	branch = master
[submodule "tmux/dot-tmux/plugins/tmux-pain-control"]
	path = tmux/dot-tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
	branch = master
[submodule "tmux/dot-tmux/plugins/tmux-sensible"]
	path = tmux/dot-tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
	branch = master
[submodule "tmux/dot-tmux/plugins/tmux-yank"]
	path = tmux/dot-tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
	branch = master
[submodule "tmux/dot-tmux/plugins/tpm"]
	path = tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
	branch = master
